{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'students/css/styles.css' %}">
    <title>{{ student.name }}</title>
</head>
<body>
    <h1>{{ student.name }}</h1>
    <p>Roll No: {{ student.roll_no }}</p>
    <p>DOB: {{ student.dob }}</p>
    <p>Department: {{ student.department }}</p>
    <p>Year of Studying: {{ student.year_of_studying }}</p>
    <a href="{% url 'student_update' student.pk %}">Edit</a>
    <form method="post" action="{% url 'student_delete' student.pk %}">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form><br><br>

    <a href="{% url 'student_list' %}">Back to List</a>
</body>
</html>